<div>
    <a href="/movies">Go back</a>
    {{each film}}
    <h1>{{title}}</h1>
    <h2>{{director}}</h2>
    <h3>Stars</h3>
    <h4><ul><li>{{stars}}</li></ul></h4>
    <h4>{{description}}</h4>
    <h4>{{showtimes}}</h4>
</div>