<div>
    <div><a href="/movies">Go back</a></div>
    <img src={{film.image}}>
    <h1>{{film.title}}</h1>
    <h2>{{film.director}}</h2>
    <h3>Stars</h3>
    <h4><ul><li>{{film.stars}}</li></ul></h4>
    <h4>{{film.description}}</h4>
    <h4>{{film.showtimes}}</h4>
</div>